@media screen and (max-width:580px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* nav bar responsive */
    .btn-container {
        display: none;
    }

    .icn-hand-burger {
        display: block;
    }

    /* get-body responsive */
    .get-body-container {
        flex-direction: column;
    }

    .get-body-descrip {
        width: 100%;
    }

    .get-body-descrip h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .get-body-descrip br {
        display: none;
    }

    .get-body-img {
        width: 90%;
    }

    .dimbol-img {
        margin-left: 60px;
    }

    .tutorial {
        bottom: 10%;
        left: 5%;
    }

    .workout {
        left: 50%;
        top: 45%;
        /* display: none; */
    }

    /* change your habit responsive */
    .cng-hab-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .cng-hab-img img {
        width: 100%;
    }

    .run-cont {
        flex-direction: column;
    }

    .run-cont h2 {
        text-align: center;
    }

    .run-des {
        width: 100%;
    }

    .join-btn {
        margin-left: 70px;
        padding-left: 25%;
        padding-right: 25%;

    }

    /* trainging and exercise  */
    .train-des h2 {
        text-align: center;
    }

    .train-img-1,
    .train-img-2 {
        grid-template-columns: 1fr 1fr;
    }

    .card-1 {
        display: none;
    }

    /* meet out team  */
    .met-img-con {
        grid-template-columns: repeat(1, 1fr);
    }

    .met-img-con img {
        height: 300px;
    }

    /* bmi calculator  */
    .bmi-con {
        flex-direction: column;
        gap: 20px;
    }

    .bmi-chart {
        width: 100%;
    }

    .bmi-chart h3 {
        text-align: center;
    }


    input[type=number],
    select {
        width: 100%;
    }

    .cal-bmi {
        width: 100%;
    }

    .cal-bmi h3,
    p {
        text-align: center;
    }

    .bmi-tbl {
        width: 100%;

    }

    .cal-cen {
        display: flex;
    }

    .bmi-btn {
        margin-left: 100%;
        justify-self: center;
    }

    /* environment of gym start  */
    .env-vid-con {
        grid-template-columns: 1fr;
    }


    /* footer style start  */
    .footer-con {
        grid-template-columns: 1fr;
    }

    .footer-con p {
        text-align: left;
        width: 80%;
    }


}